# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# config file
node_modules
.env
config.json
/material_theme_project_new.xml
/jsLibraryMappings.xml
.idea
commands/livery/temp
inspectionProfiles
package-lock.json
xm3js.iml
material_theme_project_new.xml